* {
  margin: 0em;
}
body {
  font-size: 21px;
}
.container-fluid{
   display: flex;
   flex-direction: column;
   height: 100vh;
}
.container{
  width:90vw;
  margin:auto;
}
.text-center{
  text-align: center;
}
/*nav,
flex-grow:1
header,
flex-grow:2
main,
flex-grow:3
footer,
flex-grow:4
*/
.navbar {
  background-color: #e94d4d;
  height: 3em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-between;
}

.nav-link {
  color: #ffffff;
  margin-right: 0.5rem;
}
.nav-link:hover {
   color: rgb(145, 139, 139);
   margin-right: 0.5rem;
}
.jumbotron {
  background-color: rgb(137, 189, 240);
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}

a {
  text-decoration: none;
}
main{
   flex-grow 1; ;
}

.cards-container{
  display:flex;
  flex-direction:row;
}

.card {
   width:300px;
   min-height:300px;
   margin: 0.5rem;
}

.b {
  border: 1px solid rgb(29, 53, 77);
}

.box-shadow {
  box-shadow: 0 0 1rem 0 rgb(190, 215, 240);
}


footer ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}
footer ul li {
  margin-right: 0.8em;
}
footer {
  background-color: gray;
}
footer p {
  color: indigo;
  text-align: center;
}
#navbar-icon{
  display: none;
}

@media screen and (max-width: 560px) {
  .jumbotron{
    flex-direction: column;
  }
  
  .navbar-collapse{
    display: none;
  }
  #navbar-icon{
    display: inline-block;
  }
}