* {
  margin: 0em;
}
body {
  font-size: 21px;
}

nav {
  background-color: #9c4dcc;
  line-height: 3em;
  header {
  }
}
nav a {
  color: #ffb79d;
}
header {
  background-color: goldenrod;
}
a {
  text-decoration: none;
}
footer ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}
footer ul li {
  margin-right: 0.8em;
}
footer {
  background-color: gray;
}
footer p {
  color: indigo;
  text-align: center;
}
