* {
  margin: 0em;
}
body {
  font-size: 21px;
}
.container{
   display: flex;
   flex-direction: column;
   height: 100vh;
}
/*nav,
flex-grow:1
header,
flex-grow:2
main,
flex-grow:3
footer,
flex-grow:4
*/
.navbar {
  background-color: #8a272c;
  height: 3em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-between;
}

.nav-link {
  color: #ffb79d;
  margin-right: 0.5rem ;
}
.nav-link{
   color: white;
   margin-right: 0.5rem;
}
header {
  background-color: rgb(156, 156, 156);
}
a {
  text-decoration: none;
}
main{
   flex-grow 1; ;
}
footer ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}
footer ul li {
  margin-right: 0.8em;
}
footer {
  background-color: gray;
}
footer p {
  color: indigo;
  text-align: center;
}
